@import "tailwindcss";

html,
body{
  height: 100%;
  margin: 0;
}

.layout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content{
   flex: 1;
}

/* Navbar */
.navbar {
  background: #7777ca;
  color: rgb(212, 120, 120);
  padding: 0.8rem 2rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ea0a90;
  font-weight: bold;
  font-size: 20px;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #7fa7e0;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 220px;
    padding: 10px;
    border-radius: 8px;
  }

  .nav-links.active {
    display: flex;
  }
}


.footer {
  background-color: #6d91cc;
  color: rgb(218, 84, 84);
  padding: 15px;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}


.auth-page {
  min-height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 360px;
  background: white;
  padding: 28px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.auth-card h1 {
  margin-top: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.auth-card a {
  color: #2563eb;
  text-decoration: none;
}

.page {
  max-width: 1200px;
  margin: auto;
  padding: 32px;
}